<% 
fillings = ["Mushroom", "Chicken", "Pescado", "Shrimp"]
%>


<h1>Tacos!</h1>
<p>We have a lot of fresh tacos:</p>



<%= fillings %>



<ul>
  <% for filling in fillings %>
   <li><%= filling %></li>
   <% end %>



<!--html comment syntax that is shown
<li><%= fillings[0] %></li>
<li>Chicken</li>
<li>Pescado</li>
<li>Shrimp</li>
to not show add the # key to the part that you want to comment out
-->

</ul>