<% 
fillings = ["Avocado", "Chicken", "Pescado", "Shrimp"]
%>


<h1>Tacos!</h1>
<p>We have a lot of fresh tacos:</p>



<%= fillings %>



<ul>
<li><%= fillings[0] %></li>
<li>Chicken</li>
<li>Pescado</li>
<li>Shrimp</li>

</ul>